# 0.0 Imports

In [42]:
import os
import warnings 
import pandas    as pd
import numpy     as np
import seaborn   as sns
import psycopg2  as pg

from sqlalchemy              import create_engine
from IPython.display         import Image
from IPython.core.display    import HTML
from sklearn.model_selection import train_test_split


warnings.filterwarnings('ignore')

# 0.1 Helper Functions

In [29]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
    
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

# 0.2 Get Data with SQL

In [30]:
# Credentials
HOST = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
PORT = '5432'
DATABASE = 'comunidadedsdb'
USER = 'member'
PASSWORD ='cdspa'

# Creating connection
conn = pg.connect(host = HOST,
                  port = PORT,
                  database = DATABASE,
                  user = USER,
                  password = PASSWORD)

# Query to get data
query = '''
        SELECT *
        FROM pa004.users u INNER JOIN pa004.vehicle v   ON (u.id = v.id)
                           INNER JOIN pa004.insurance i ON (u.id = i.id)
        '''

# Dataframe of dataset SQL
df1 = pd.read_sql_query(query, conn)
df1 = df1.drop(df1.columns[[5, 9]], axis = 1)
df1.head(5)

   gender  age  region_code  policy_sales_channel  driving_license vehicle_age vehicle_damage  previously_insured  annual_premium  vintage  response
0    Male   23         11.0                 152.0                1    < 1 Year            Yes                   0         23367.0      249         0
1  Female   41         15.0                  14.0                1    1-2 Year             No                   1         31409.0      221         0
2  Female   25         35.0                 152.0                1    < 1 Year             No                   1         46622.0      299         0
3  Female   26          8.0                 160.0                1    < 1 Year             No                   0          2630.0      136         0
4    Male   45          8.0                 124.0                1    1-2 Year            Yes                   0         42297.0      264         0

In [31]:
# Creating train and validation dataset
train, validation = train_test_split(df1, test_size = 0.2, random_state = 21)

# Writing train and validation on folder
write_train = train.to_csv('repos/pa004/pa004_health_insurance_cross_sell/health_insurance_cross-sell_v2/data/train.csv')
write_validation = validation.to_csv('repos/pa004/pa004_health_insurance_cross_sell/health_insurance_cross-sell_v2/data/test.csv')

# 0.3 Loading Data